/* font */

@font-face {
    font-family: Nunito-Regular;
    src: url(fonts/Nunito-Regular.ttf);
}

/* header */

.blog-banner {
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.2em;
    margin-bottom: 1em;
    font-weight: 700;
    color: #424242;
    width: 100%;
    text-align: center;
}

/* archive page */

.blog-archive-content {
    display: flex;
}
.blog-preview-container {
    margin: 2em 2em 2em 4em;
}

/* post page */

.blog-post-content {
    display: flex;
    justify-content: center;
}
.blog-post {
    max-width: 850px;
    margin: 4em 2em 2em 4em;
}
.blog-title {
    font-weight: bold;
    padding-bottom: 1em;
    margin: 0;
    color: #00539f;
    text-decoration: none;
    font-family: Nunito-Regular, sans-serif;
}
.blog-title h2 {
    margin: 0;
}
.blog-post-text {
    font-family: Nunito-Regular, sans-serif;
    color: #424242;
}

/* aside nav */

.blog-nav {
    margin: 4em 2em 2em 2em;
}
.blog-nav-heading {
    color: black;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    margin-top: 0;
    font-family: Nunito-Regular, sans-serif;
}
.blog-nav-links {
    list-style: none;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 0;
}
.blog-nav-link {
    color: #00539f;
    font-size: 0.8em;
    font-weight: bold;
    font-family: Nunito-Regular, sans-serif;
    text-decoration: none;
    padding-bottom: .5em;
}

/* entry */


.blog-preview .post {
    display: flex;
    padding: 2em;
}
 .post-content {
    padding-left: 2em;
    max-width: 600px;
}
.post-title {
    margin: 0;
}
.post-title a {
    font-weight: bold;
    padding-bottom: 1em;
    margin: 0;
    color: #00539f;
    text-decoration: none;
    font-family: Nunito-Regular, sans-serif;
}
.post-details {
    color: grey;
    font-size: 0.8em;
    padding-bottom: 1em;
    font-family: Nunito-Regular, sans-serif;
}
.post-cat a {
    color: #00539f;
}
.post-summary p {
    font-family: Nunito-Regular, sans-serif;
    color: #4b4b4b;
}

.post button {
    border-radius: 50px;
    padding: 1em 2.6em;
    background-color: #00539f;
    border: 2px solid #fff;
    color: #fff;
    font-family: Nunito-Regular, sans-serif;
}

.post button:hover {
    background-color: #007ced;
    cursor: pointer;
}
