<div class="blog-banner">
    <h1>Goodwill's Blog</h1>
</div>

<div class="blog-archive-content">
    <aside class="blog-nav">
      <h3 class="blog-nav-heading">Popular Stories</h3>
      <ul class="blog-nav-links">
        <li><a class="blog-nav-link" href="#">DIY Deer Costume from Goodwill supplies for Halloween</a></li>
        <li><a class="blog-nav-link" href="#">A Senior finds a new path and renewed hope</a></li>
        <li><a class="blog-nav-link" href="#">Goodwill accommodates employee with disability</a></li>
        <li><a class="blog-nav-link" href="#">Pushing beyond a difficult path to higher education</a></li>
      </ul>
      <h3 class="blog-nav-heading">Categories</h3>
      <ul class="blog-nav-links">
        <li><a class="blog-nav-link" href="#">Employment</a></li>
        <li><a class="blog-nav-link" href="#">Careers</a></li>
        <li><a class="blog-nav-link" href="#">Education</a></li>
        <li><a class="blog-nav-link" href="#">DIY</a></li>
        <li><a class="blog-nav-link" href="#">Success Stories</a></li>
        <li><a class="blog-nav-link" href="#">Disability</a></li>
        <li><a class="blog-nav-link" href="#">Community Outreach</a></li>
      </ul>
    </aside>

    <div class="blog-preview-container">
        <div class="blog-preview">
          <article class="post">
            <img src="/images/blog-post.jpg" alt="blog post image" class="post-image" style="height: 240px;">
            <div class="post-content">
              <h3 class="post-title"><a href="#">A Senior finds a new path and renewed hope</a></h3>
              <section class="post-details"><span class="post-meta-date">Saturday July 22, 2013</span><span> / </span><span class="post-cat">by Goodwill posted in <a href="#">Education</a></span></section>
              <section class="post-summary">
                <p>Lorem ipsum dolor sit amet, sit possit suscipiantur cu, mei vocent accusam ex. Vim inani diceret at. Per id quot nulla disputando. Cu pro hinc habeo elitr, te agam viris est. Habeo aperiri eu quo, at sanctus albucius singulis mei, vim graeci omnesque te...</p>
              </section>
              <button>Read More</button>
            </div>
          </article>
        </div>

        <div class="blog-preview">
          <article class="post">
            <img src="/images/blog-post.jpg" alt="blog post image" class="post-image" style="height: 240px;">
            <div class="post-content">
              <h3 class="post-title"><a href="#">A Senior finds a new path and renewed hope</a></h3>
              <section class="post-details"><span class="post-meta-date">Saturday July 22, 2013</span><span> / </span><span class="post-cat">by Goodwill posted in <a href="#">Education</a></span></section>
              <section class="post-summary entry-content">
                <p>Lorem ipsum dolor sit amet, sit possit suscipiantur cu, mei vocent accusam ex. Vim inani diceret at. Per id quot nulla disputando. Cu pro hinc habeo elitr, te agam viris est. Habeo aperiri eu quo, at sanctus albucius singulis mei, vim graeci omnesque te...</p>
              </section>
              <button>Read More</button>
            </div>
          </article>
        </div>  

        <div class="blog-preview">
          <article class="post">
            <img src="/images/blog-post.jpg" alt="blog post image" class="post-image" style="height: 240px;">
            <div class="post-content">
              <h3 class="post-title"><a href="#">A Senior finds a new path and renewed hope</a></h3>
              <section class="post-details"><span class="post-meta-date">Saturday July 22, 2013</span><span> / </span><span class="post-cat">by Goodwill posted in <a href="#">Education</a></span></section>
              <section class="post-summary entry-content">
                <p>Lorem ipsum dolor sit amet, sit possit suscipiantur cu, mei vocent accusam ex. Vim inani diceret at. Per id quot nulla disputando. Cu pro hinc habeo elitr, te agam viris est. Habeo aperiri eu quo, at sanctus albucius singulis mei, vim graeci omnesque te...</p>
              </section>
              <button>Read More</button>
            </div>
          </article>
        </div>

        <div class="blog-preview">
          <article class="post">
            <img src="/images/blog-post.jpg" alt="blog post image" class="post-image" style="height: 240px;">
            <div class="post-content">
              <h3 class="post-title"><a href="#">A Senior finds a new path and renewed hope</a></h3>
              <section class="post-details"><span class="post-meta-date">Saturday July 22, 2013</span><span> / </span><span class="post-cat">by Goodwill posted in <a href="#">Education</a></span></section>
              <section class="post-summary entry-content">
                <p>Lorem ipsum dolor sit amet, sit possit suscipiantur cu, mei vocent accusam ex. Vim inani diceret at. Per id quot nulla disputando. Cu pro hinc habeo elitr, te agam viris est. Habeo aperiri eu quo, at sanctus albucius singulis mei, vim graeci omnesque te...</p>
              </section>
              <button>Read More</button>
            </div>
          </article>
        </div>
    </div>    
</div>