<div class="blog-banner">
    <h1>Goodwill's Blog</h1>
</div>

<div class="blog-post-content">
    <aside class="blog-nav">
      <h3 class="blog-nav-heading">Popular Stories</h3>
      <ul class="blog-nav-links">
        <li><a class="blog-nav-link" href="#">DIY Deer Costume from Goodwill supplies for Halloween</a></li>
        <li><a class="blog-nav-link" href="#">A Senior finds a new path and renewed hope</a></li>
        <li><a class="blog-nav-link" href="#">Goodwill accommodates employee with disability</a></li>
        <li><a class="blog-nav-link" href="#">Pushing beyond a difficult path to higher education</a></li>
      </ul>
      <h3 class="blog-nav-heading">Categories</h3>
      <ul class="blog-nav-links">
        <li><a class="blog-nav-link" href="#">Employment</a></li>
        <li><a class="blog-nav-link" href="#">Careers</a></li>
        <li><a class="blog-nav-link" href="#">Education</a></li>
        <li><a class="blog-nav-link" href="#">DIY</a></li>
        <li><a class="blog-nav-link" href="#">Success Stories</a></li>
        <li><a class="blog-nav-link" href="#">Disability</a></li>
        <li><a class="blog-nav-link" href="#">Community Outreach</a></li>
      </ul>
    </aside>


    <div class="blog-post">
        <div class="blog-title">
            <h2>A Senior finds a new path and renewed home</h2>
            <section class="post-details"><span class="post-meta-date">Saturday July 22, 2013</span><span> / </span><span class="post-cat">by Goodwill posted in <a href="#">Education</a></span></section>
        </div>
        <p class="blog-post-text">Lorem ipsum dolor sit amet, sit possit suscipiantur cu, mei vocent accusam ex. Vim inani diceret at. Per id quot nulla disputando. Cu pro hinc habeo elitr, te agam viris est. Habeo aperiri eu quo, at sanctus albucius singulis mei, vim graeci omnesque te. Eam ex explicari patrioque voluptatibus, sea magna malorum et. Mel no modo aliquando.</p>
        <img src="/images/blog-post.jpg" alt="blog post image" class="post-image" style="height: 380px;">
        <p class="blog-post-text">Lorem ipsum dolor sit amet, sit possit suscipiantur cu, mei vocent accusam ex. Vim inani diceret at. Per id quot nulla disputando. Cu pro hinc habeo elitr, te agam viris est. Habeo aperiri eu quo, at sanctus albucius singulis mei, vim graeci omnesque te. Eam ex explicari patrioque voluptatibus, sea magna malorum et. Mel no modo aliquando. Ubique graeci assueverit vel ad, nostro fabellas voluptatum usu ex. Vim eripuit ancillae id, eam id illum appareat. Usu inani vivendum ex, aperiri accusata abhorreant quo ut, sumo veri te vix. Ornatus placerat deserunt te eam. At quod habemus duo, at mea erat animal invidunt. His equidem epicurei ut, et eum novum dicunt singulis. Commodo accusamus duo cu, mea viderer ceteros id. Nec dico nemore ea, id est erant laudem sadipscing. Eam fastidii accusamus dissentiet te, assum noluisse copiosae ei mel, ea detraxit quaestio quo. Ludus delectus incorrupte usu an. Qui cu reque sanctus dolorem, quot suscipit suavitate per ut, usu ea sint suscipiantur. Pro ex sanctus iudicabit, eu vidisse petentium eam. Per te amet legere, postea elaboraret consequuntur ne mel, ex vis dicta nostrud. His alia moderatius in. Et sit libris virtute bonorum. Quem adipisci sadipscing quo eu, wisi luptatum est no, ad vim recteque molestiae torquatos. Tation maiestatis usu ex. Equidem dissentiet est ne. Vis te paulo repudiandae ullamcorper, doctus vocent scripta pro ad, ex pri quod augue expetenda. Ad illum fugit accusata ius, his primis principes ad. Mel tation impedit ea.</p>
    </div>  
</div>